### Symfony ###
/.env
/public/bundles/
/var/
/vendor/
/.php-cs-fixer.cache
/.phpunit.result.cache
/composer.lock
/symfony.lock

### Docker ###
/docker/php/php.ini

### IDE ###
/.idea/
/.vscode/
*.swp
*.swo
*~
.DS_Store

### OS ###
Thumbs.db
